body
{
    margin: 0px;
    padding: 0px;
    background-color: #D6E5FD;
}

header
{

    position: relative;
    text-align: center;
    height: 100px;
    margin:0px;
    display: block;
    background-color: #F34F2C;
}

header h1{
    position: absolute;
    margin-top: 0px;
    left: 60px;
    top: 30px;

}

#slogan
{
    position: absolute;
    right: 20px;
    top: 70px;
    margin:0px;
    background-color: white;
}

html,
body{
    height:100%;
}

#locations_block
{

    background-color: yellow;
    height: 50px;
    width: 40%;
    float: left;

}

.locationName{
    display:inline-block;
    overflow-wrap:break-word;
    word-wrap: break-all;
    white-space:normal;
    border: 1px dashed grey;
}

.location{
    border: 1px dashed green;
}
#location{
    display:inline;
    border: 1px dashed red;
}
.hidden
{
    display: None;
}

#map {
  height: 500px;
  /* The height is 400 pixels */
  background-color: pink;
  width:50%;
  float: right;