<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        let autocomplete;
        function initMap(){
            destination_autocomplete = create_autocomplete_obj("destination_autocomplete");
            destination_autocomplete.addListener('place_changed', onDestinationPlaceChanged);
            home_autocomplete = create_autocomplete_obj("home_autocomplete")
            home_autocomplete.addListener('place_changed', onHomePlaceChanged)
        }

        function onDestinationPlaceChanged(){
            var place = destination_autocomplete.getPlace();
            if (!place.place_id){
                document.getElementById("destination_autocomplete".placeholder = "Enter a place");
            } else{
                sendInfo(place,"/receiveDestination");
            }
        }
        function onHomePlaceChanged(){
            var place = home_autocomplete.getPlace();
            if (!place.place_id){
                document.getElementById("home_autocomplete".placeholder = "Enter a place");
            } else{
                sendInfo(place,"/receiveHome");
            }
        }

        function sendInfo(place,url){
            document.getElementById("details").innerHTML = place.name;
                let location = JSON.stringify({
                    "name":place.name,
                    "place_id":place.place_id,
                    "formatted_address":place.formatted_address,
                    "type": place.types,
                    "opening_hours":place.opening_hours,
                    "business_status":place.business_status,
                    });
                const request = new XMLHttpRequest();
                request.open("POST", url, true);
                request.send(location);
        }

        function create_autocomplete_obj(id){
            var sessionToken = new google.maps.places.AutocompleteSessionToken();
            autocomplete= new google.maps.places.Autocomplete(
                document.getElementById(id),
                {   sessionToken: sessionToken,
                    types: ["establishment"],
                    componentRestrictions: {"country": ["us"]},
                    fields: ["place_id", "name", "formatted_address", "opening_hours", "types", "business_status"]
                });
            return autocomplete;
        }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBncbwIJ2Ug0E7oPoYubcplGGlD-dEuo98&libraries=places&callback=initMap"
    defer>
    </script>
    <script type="module" src="website/templates/main.js" type="text/javascript"></script>

    <form action="#" method="post">
        <label>Where are you staying?</label>
        <p><input type="text" id="home_autocomplete" name="location_names" style="width:300px"></p>

    </form>

    <form action="#" method="post">
        <label>Location:</label>
        <p><input type="text" id="destination_autocomplete" name="location_names" style="width:300px"></p>
        <!--<p><input type="submit" value="submit"> </p>-->

    </form>
</head>
<body>
    <ol type="1">
        <option id="details"></option>
        {% for location in location_names %}
            <option>{{location}}</option>
        {% endfor %}
    </ol>

</body>
</html>