<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        let autocomplete;
        function initMap(){
            visiting_area_autocomplete = create_autocomplete_visiting_area_obj("visiting_area");
            visiting_area_autocomplete.addListener('place_changed', onVisitingAreaChanged);
            console.log("Test",{{visit_place_lat}},{{visit_place_lng}});
            destination_autocomplete = createAutocompleteObject("destination_autocomplete",{{visit_place_lat}},{{visit_place_lng}});
            destination_autocomplete.addListener('place_changed', onDestinationPlaceChanged);
            console.log("Test",{{visit_place_lat}},{{visit_place_lng}});
            home_autocomplete = createAutocompleteObject("home_autocomplete",{{visit_place_lat}},{{visit_place_lng}});
            home_autocomplete.addListener('place_changed', onHomePlaceChanged);

        }
        window.globalDestinationPlaceChangedCalledTimes = 0;
        function onDestinationPlaceChanged(){
            window.globalDestinationPlaceChangedCalledTimes += 1
            console.log("global tracker", window.globalDestinationPlaceChangedCalledTimes)
            var place = destination_autocomplete.getPlace();
            var form = document.getElementById('destination_form');
            window.globalDestinationPlaceChangedIterator = 1;
            var eventWithSubmit = function(evt){
                if(form.getAttribute('eventWithSubmit') == 'true'){
                    evt.preventDefault();
                    console.log("IN EVENT")
                    if (window.globalDestinationPlaceChangedIterator != window.globalDestinationPlaceChangedCalledTimes){
                        console.log("In second IF global tracker", window.globalDestinationPlaceChangedCalledTimes)
                        console.log("In second IF iterator", window.globalDestinationPlaceChangedIterator)
                        window.globalDestinationPlaceChangedIterator += 1;
                        return;
                    }
                    var hours = document.getElementById('visit_hours').value;
                    console.log("hours value is", hours)
                    sendInfo(hours,"/receiveVisitHours")
                    setTimeout(function(){
                        sendPlaceInfo(place,"/receiveDestination");
                        }, 500);
                    document.getElementById("destination_autocomplete").value = "";
                    console.log("form sent");
                    form.setAttribute('eventWithSubmit','false');
                    window.globalDestinationPlaceChangedCalledTimes = 0
                }
            };

            if (!place.place_id){
                document.getElementById("destination_autocomplete".placeholder = "Enter a place");
            } else{
                form.addEventListener("submit", eventWithSubmit ,{once:true});
                form.setAttribute('eventWithSubmit','true');
            }
        }

        window.globalHomePlaceChangedCalledTimes = 0;
        function onHomePlaceChanged(){
            window.globalHomePlaceChangedCalledTimes += 1;
            var place = home_autocomplete.getPlace();
            var form = document.getElementById('home_form');
            window.globalHomePlaceChangedIterator = 1;
            var eventWithSubmit = function(evt){
                if(form.getAttribute('eventWithSubmit') == 'true'){
                    evt.preventDefault();
                    if (window.globalHomePlaceChangedIterator != window.globalHomePlaceChangedCalledTimes){
                        console.log("In second IF global tracker", window.globalHomePlaceChangedCalledTimes)
                        console.log("In second IF iterator", window.globalHomePlaceChangedIterator)
                        window.globalHomePlaceChangedIterator += 1;
                        return;
                    }
                    sendPlaceInfo(place,"/receiveHome");
                    document.getElementById("home_autocomplete").value = "";
                    form.setAttribute('eventWithSubmit','false');
                    window.globalHomePlaceChangedCalledTimes = 0;
                }
            }
            if (!place.place_id){
                document.getElementById("home_autocomplete".placeholder = "Enter a place");
            } else{
                form.addEventListener("submit", eventWithSubmit,{once:true});
                form.setAttribute('eventWithSubmit','true');
            }
        }

        window.globalVisitingAreaChangedCalledTimes = 0;
        function onVisitingAreaChanged(){
            window.globalVisitingAreaChangedCalledTimes += 1;
            var place = visiting_area_autocomplete.getPlace();
            var form = document.getElementById('visiting_area_form');
            window.globalVisitingAreaChangedCalledIterator = 1;
            var eventWithSubmit = function(evt){
                if(form.getAttribute('eventWithSubmit') == 'true'){
                    evt.preventDefault();
                    if (window.globalVisitingAreaChangedCalledIterator != window.globalVisitingAreaChangedCalledTimes){
                        console.log("In second IF global tracker", window.globalVisitingAreaChangedCalledTimes)
                        console.log("In second IF iterator", window.globalVisitingAreaChangedCalledIterator)
                        window.globalVisitingAreaChangedCalledIterator += 1;
                        return;
                    }
                    sendPlaceInfo(place,"/receiveVisitingArea");
                    document.getElementById("visiting_area").value = "";
                    setTimeout(function(){
                        window.location.reload();
                        }, 1000);
                    form.setAttribute('eventWithSubmit','false');
                    window.globalVisitingAreaChangedCalledTimes = 0;
                }
            }
            if (!place.place_id){
                document.getElementById("visiting_area_autocomplete".placeholder = "Enter a place");
            } else{
                form.addEventListener("submit", eventWithSubmit, {once:true});
                form.setAttribute('eventWithSubmit','true');

            }
        }

        function sendPlaceInfo(place,url){
<!--            document.getElementById("details").innerHTML = place.name;-->
                let location = JSON.stringify({
                    "name":place.name,
                    "place_id":place.place_id,
                    "formatted_address":place.formatted_address,
                    "type": place.types,
                    "opening_hours":place.opening_hours,
                    "business_status":place.business_status,
                    "geometry":place.geometry
                    });
                const request = new XMLHttpRequest();
                request.open("POST", url, true);
                request.send(location);
                setTimeout(function(){
                    $("#test").load(" #test > *");
                }, 1000);

        }

        function sendInfo(info, url){
            const request = new XMLHttpRequest();
            request.open("POST", url, true);
            request.send(info);
        }

        function createAutocompleteObject(id,lat,lng){
            var sessionToken = new google.maps.places.AutocompleteSessionToken();
            var center = new google.maps.LatLng(lat,lng);
            var circle = new google.maps.Circle({
                center: center,
                radius:15000
            });
            autocomplete= new google.maps.places.Autocomplete(
                document.getElementById(id),
                {   sessionToken: sessionToken,
                    types: ["establishment"],
                    componentRestrictions: {"country": ["us"]},
                    fields: ["place_id", "name", "formatted_address", "opening_hours", "types", "business_status"]
                });
            autocomplete.setBounds(circle.getBounds());
            return autocomplete;
        }

        function create_autocomplete_visiting_area_obj(id){
            var sessionToken = new google.maps.places.AutocompleteSessionToken();
            autocomplete= new google.maps.places.Autocomplete(
                document.getElementById(id),
                {   sessionToken: sessionToken,
                    types: ["(regions)"],
                    componentRestrictions: {"country": ["us"]},
                    fields: ["place_id", "geometry"]
                });
            return autocomplete;
        }

        function onStartDateChanged(){
            var date = document.getElementById('start_date').value;
            console.log("start_date is", date)
            let start_date = JSON.stringify({
                    "start_date":date
                    });
            sendInfo(start_date, "/receiveStartDate")
        }

        function onEndDateChanged(){
            var date = document.getElementById('end_date').value;
            console.log("end_date is", date)
            let end_date = JSON.stringify({
                    "end_date":date
                    });
            sendInfo(end_date, "/receiveEndDate")
        }

        function onLeaveTimeChanged(){
            var time = document.getElementById('leave_time').value;
            console.log("leave time is", time)
            let leave_time = JSON.stringify({
                    "leave_time":time
                    });
            sendInfo(leave_time, "/receiveDayStartTime")
        }

        function onReturnTimeChanged(){
            var time = document.getElementById('return_time').value;
            console.log("return time is", time)
            let return_time = JSON.stringify({
                    "return_time":time
                    });
            sendInfo(return_time, "/receiveDayEndTime")
        }

    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBncbwIJ2Ug0E7oPoYubcplGGlD-dEuo98&libraries=places&callback=initMap"
    defer>
    </script>

    <form id="visiting_area_form"action="/" method="POST">
        <div><label for="visiting_area">Where are you visiting?</label>
        <input type="text" id="visiting_area" style="width:300px" placeholder="e.g. New York, San Francisco, Tokyo">
            <button> Submit </button>
        </div>
    </form>

    <form action="/" method="POST">
        <div> </div><label>Dates</label>
        <input type="date" id="start_date"  style="width:150px" onchange="onStartDateChanged()">
            through
        <input type="date" id="end_date"  style="width:150px" onchange="onEndDateChanged()">
        </div>
    </form>

    <div>
    <form id="home_form" action="/" method="POST">
            <label for="home_autocomplete">Where are you staying?</label>
            <input type="text" id="home_autocomplete" style="width:300px">

            <button> Add </button>
    </form>

        <form id="home_time_form" action="/" method="POST">
            <label>Time to start your day:</label>
            <input type="time" id="leave_time" style="width:100px" onchange="onLeaveTimeChanged()">
            <label>Time to end your day:</label>
            <input type="time" id="return_time" style="width:100px" onchange="onReturnTimeChanged()">

        </form>
    </div>

    <form id="destination_form" method="POST">
        <div>
        <label for="destination_autocomplete">Destination:</label>
        <input type="text" id="destination_autocomplete"  style="width:300px">
        <input type="number" id="visit_hours" value=1 style="width:50px" min="0" step=.5>
        <button type="submit"> Add Location </button>
        </div>
    </form>
    <form action ="/results" method = "POST">
        <label><input type="checkbox" value="avoidDriving" name="drivingAllowance">Avoid Driving</label>
        <input type="submit" id="showSchedule" value = "Show Schedule">
    </form>
</head>
<body>
    <div id="test">
    <ol type="1" id="locations">
        <option id="details"></option>
        {% for location,place_id in locations %}
            <li class="location" id="{{loop.index0}}">
                <option class="locationName" id="{{place_id}}">{{location}}</option>
                <button>remove</button>
            </li>
        {% endfor %}
    </ol>
    </div>
</body>
<script src="{{url_for('static', filename='main.js')}}"> defer></script>
</html>