<!DOCTYPE html>
<html lang="en">
<head>
    <title>Automatic Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <script>
        let autocomplete;
        let googleMapDisplayObject;
        let markers = [];
        var iconBase = "https://maps.google.com/mapfiles/kml/"
        function initMap(){
            visiting_area_autocomplete = create_autocomplete_visiting_area_obj("visiting_area_input");
            if (localStorage.getItem('visiting_area_exists')){
                lat = localStorage.getItem('visiting_area_lat');
                lng = localStorage.getItem('visiting_area_lng');
                initDestHomeAutocomplete(lat,lng);
                createGoogleMap(lat,lng);
                populateMapWithExistingMarkers();
            }
        }

        function initDestHomeAutocomplete(visit_place_lat, visit_place_lng){
            destination_autocomplete = createAutocompleteObject("destination_autocomplete",visit_place_lat,visit_place_lng);
<!--            destination_autocomplete.addListener('place_changed', onDestinationPlaceChanged);-->
            console.log("in initDestHomeAutocomplete", visit_place_lng);
            home_autocomplete = createAutocompleteObject("home_autocomplete",visit_place_lat,visit_place_lng);
<!--            home_autocomplete.addListener('place_changed', onHomePlaceChanged);-->
        }

        function createGoogleMap(lat,lng){
            const visiting_area_center = {lat: Number(lat), lng: Number(lng) };
            googleMapDisplayObject = new google.maps.Map(document.getElementById("map"), {
              zoom: 10,
              center: visiting_area_center,
            });
            const marker = new google.maps.Marker({
              position: visiting_area_center,
              map: googleMapDisplayObject,
              icon: {url: iconBase + 'paddle/ylw-blank.png',scaledSize: new google.maps.Size(20,20)}
            });
        }

        function sendDestination(){
            setTimeout(function(){
                var place = destination_autocomplete.getPlace();
                if (place.place_id){
                    var form = document.getElementById('destination_form');
                    console.log("place is", place);
                    var hours = document.getElementById('visit_hours').value;
                    sendInfo(hours,"/receiveVisitHours")
                        setTimeout(function(){
                            sendPlaceInfo(place,"/receiveDestination", addDestinationMarker);
                        }, 250);
                    document.getElementById("destination_autocomplete").value = "";
                    console.log("form sent");
                }
                else{
                    alert("Not a valid place.");
                }
            }, 200);
        }

        function addDestinationMarker() {
            $.ajax({
                url:"/loadNewDestinationMapData",
                type: "GET",
                dataType: "json",
                success: function(data){
                    destination_name = data["new_destination_name"];
                    destination_lat = data["new_destination_lat_lng"][0];
                    destination_lng = data["new_destination_lat_lng"][1];
                    console.log("the lat and lng of", destination_name, "is", destination_lat, destination_lng);
                    addMarker({coordinates:{lat: destination_lat, lng: destination_lng},
                                content: destination_name});
                }
            });
        }

        function sendHome(){
            setTimeout(function(){
                var place = home_autocomplete.getPlace();
                if (place.place_id){
                    var form = document.getElementById('home_form');
                    console.log("place is", place);
                    sendPlaceInfo(place,"/receiveHome", loadHome);
                    document.getElementById("home_autocomplete".placeholder = "Enter a place");
                    console.log("form sent");
                }
                else{
                    alert("Not a valid place.");
                }
            }, 200);
        }

        function loadHome() {
            $.ajax({
                url:"/loadHomeMapData",
                type: "GET",
                dataType: "json",
                success: function(data){
                    home_name = data["home_name"];
                    home_lat = data["home_lat_lng"][0];
                    home_lng = data["home_lat_lng"][1];
                    console.log("type of lat is", typeof home_lat)
                    console.log("the lat and lng of", home_name, "is", home_lat, home_lng);
                    localStorage.setItem('home_name', home_name);
                    document.getElementById("home_autocomplete").value = "";
                    hideHomeInput();
                    document.getElementById("home_name").textContent=home_name;
                    addMarker({coordinates:{lat: home_lat, lng: home_lng},
                               content:home_name, icon: iconBase + 'pal3/icon56.png'});
                }
            });
        }

        function sendVisitingArea(){
            setTimeout(function(){
                var place = visiting_area_autocomplete.getPlace();
                if (place.place_id){
                    var form = document.getElementById('visiting_area_form');
                    console.log("place is", place);
                    sendPlaceInfo(place,"/receiveVisitingArea",loadVisitingArea);
                    document.getElementById("visiting_area_autocomplete".placeholder = "Enter a place");
                    console.log("form sent");
                }
                else{
                    alert("Not a valid place.");
                }
            }, 200);
        }

        function loadVisitingArea() {
            $.ajax({
                url:"/loadVisitingArea",
                type: "GET",
                dataType: "json",
                success: function(data){
                    lat = data["lat"]
                    lng = data["lng"]
                    console.log("The data is,", lat, "and", lng);
                    localStorage.setItem('visiting_area_lat', lat);
                    localStorage.setItem('visiting_area_lng', lng);
                    initDestHomeAutocomplete(lat,lng);
                    document.getElementById("visiting_area_input").value = "";
                    hideVisitingAreaInput();
                    createGoogleMap(lat,lng);
                    populateMapWithExistingMarkers();
                }
            });
        }

        window.globalVisitingAreaChangedCalledTimes = 0;
        function onVisitingAreaChanged(){
            window.globalVisitingAreaChangedCalledTimes += 1;
            var place = visiting_area_autocomplete.getPlace();
            var form = document.getElementById('visiting_area_form');
            window.globalVisitingAreaChangedCalledIterator = 1;
            var eventWithSubmit = function(evt){
                if(form.getAttribute('eventWithSubmit') == 'true'){
                    evt.preventDefault();
                    if (window.globalVisitingAreaChangedCalledIterator != window.globalVisitingAreaChangedCalledTimes){
                        console.log("In second IF global tracker", window.globalVisitingAreaChangedCalledTimes)
                        console.log("In second IF iterator", window.globalVisitingAreaChangedCalledIterator)
                        window.globalVisitingAreaChangedCalledIterator += 1;
                        return;
                    }
                    function loadVisitingArea() {
                        $.ajax({
                            url:"/loadVisitingArea",
                            type: "GET",
                            dataType: "json",
                            success: function(data){
                                lat = data["lat"]
                                lng = data["lng"]
                                console.log("The data is,", lat, "and", lng);
                                localStorage.setItem('visiting_area_lat', lat);
                                localStorage.setItem('visiting_area_lng', lng);
                                initDestHomeAutocomplete(lat,lng);
                                document.getElementById("visiting_area_input").value = "";
                                hideVisitingAreaInput();
                                createGoogleMap(lat,lng);
                                populateMapWithExistingMarkers();
                                }
                            });
                        }
                    sendPlaceInfo(place,"/receiveVisitingArea",loadVisitingArea);
                    form.setAttribute('eventWithSubmit','false');
                    window.globalVisitingAreaChangedCalledTimes = 0;
                }
            }
            if (!place.place_id){
                document.getElementById("visiting_area_autocomplete".placeholder = "Enter a place");
            } else{
                form.addEventListener("submit", eventWithSubmit, {once:true});
                form.setAttribute('eventWithSubmit','true');

            }
        }


        function createAutocompleteObject(id,lat,lng){
            var sessionToken = new google.maps.places.AutocompleteSessionToken();
            var center = new google.maps.LatLng(lat,lng);
            var circle = new google.maps.Circle({
                center: center,
                radius:15000
            });
            autocomplete= new google.maps.places.Autocomplete(
                document.getElementById(id),
                {   sessionToken: sessionToken,
<!--                    types: ["establishment"],-->
                    componentRestrictions: {"country": ["us"]},
                    fields: ["place_id", "name", "formatted_address", "opening_hours", "types", "business_status", "geometry"]
                });
            autocomplete.setBounds(circle.getBounds());
            return autocomplete;
        }

        function create_autocomplete_visiting_area_obj(id){
            var sessionToken = new google.maps.places.AutocompleteSessionToken();
            autocomplete= new google.maps.places.Autocomplete(
                document.getElementById(id),
                {   sessionToken: sessionToken,
                    types: ["(regions)"],
                    componentRestrictions: {"country": ["us"]},
                    fields: ["place_id", "geometry", "name"]
                });
            return autocomplete;
        }

        function onStartDateChanged(){
            var date = document.getElementById('start_date_input').value;
            console.log("start_date is", date)
            let start_date = JSON.stringify({
                    "start_date":date
                    });
            function loadStartDate(){
                $.ajax({
                    url:"/loadStartDate",
                    type: "GET",
                    dataType: "json",
                    success: function(data){
                        iso_start_date_str = data["iso_start_date_str"]
                        localStorage.setItem('start_date', iso_start_date_str);
                        console.log("reformatted date is", reformatIsoDate(iso_start_date_str))
                        document.getElementById("start_date_input").type ='text';
                        document.getElementById("start_date_input").value = reformatIsoDate(iso_start_date_str);
                    }
                });
             }
            sendInfo(start_date, "/receiveStartDate", loadStartDate)

        }

        function onEndDateChanged(){
            var date = document.getElementById('end_date_input').value;
            console.log("end_date is", date)
            let end_date = JSON.stringify({
                    "end_date":date
                    });
            function loadEndDate(){
                $.ajax({
                    url:"/loadEndDate",
                    type: "GET",
                    dataType: "json",
                    success: function(data){
                        iso_end_date_str = data["iso_end_date_str"]
                        localStorage.setItem('end_date', iso_end_date_str);
                        document.getElementById("end_date_input").type ='text';
                        document.getElementById("end_date_input").value = reformatIsoDate(iso_end_date_str);
                    }
                });
            }
            sendInfo(end_date, "/receiveEndDate", loadEndDate)

        }

        function onLeaveTimeChanged(){
            var time = document.getElementById('leave_time_input').value;
            localStorage.setItem("leave_time",time);
            console.log("leave time is", time)
            let leave_time = JSON.stringify({
                    "leave_time":time
                    });
            sendInfo(leave_time, "/receiveDayStartTime")
        }

        function onReturnTimeChanged(){
            var time = document.getElementById('return_time_input').value;
            localStorage.setItem("return_time",time);
            console.log("return time is", time)
            let return_time = JSON.stringify({
                    "return_time":time
                    });
            sendInfo(return_time, "/receiveDayEndTime");
        }

        function populateMapWithExistingMarkers(){
            {% for location_name,place_id,location in map_locations %}
                {% if location.place_type == "home" %}
                    addMarker({coordinates:{lat: {{location.lat}}, lng: {{location.lng}}},
                                    content: '{{location_name}}', icon: iconBase + 'pal3/icon56.png'});
                {% else %}
                    addMarker({coordinates:{lat: {{location.lat}}, lng: {{location.lng}}},
                                    content: '{{location_name}}'});
                {% endif %}

            {% endfor %}
        }

        function addMarker(props){
                const marker = new google.maps.Marker({
                    position: props.coordinates,
                    map:googleMapDisplayObject
                });

                if (props.icon){
                    console.log("in icon")
                    marker.setIcon(props.icon);
                }
                if (props.content){
                    var infoWindow = new google.maps.InfoWindow({
                        content:props.content
                    });
                    marker.setTitle(props.content);
                    marker.addListener('click', function(){
                        infoWindow.open(googleMapDisplayObject, marker);
                    });
                markers.push(marker);
                console.log("Added to marker")
               }
        }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBncbwIJ2Ug0E7oPoYubcplGGlD-dEuo98&libraries=places&callback=initMap"
    defer>
    </script>
</head>

<body>
    <header>
        <h1>Automatic Planner</h1>
        <p id="slogan"><i>Create the most efficient itinerary by minimizing travel time - leaving more time to be where you want to be</i></p>
    </header>

    <div id="visiting_area_div">
        <form id="visiting_area_form"action="/" method="POST">
            <div><label for="visiting_area_input">Where to?</label>
            <input type="text" id="visiting_area_input" style="width:300px" placeholder="e.g. New York, San Francisco, Seattle">
                <button> Submit </button></div>
        </form>
        <div id="visiting_area_display" class="hidden">
            <span>
                Traveling to <span id="visitingAreaName">{{visit_place}}</span>
                <button onclick="showVisitingAreaInput()">Change place</button>
            </span>
        </div>
    </div>

    <div id="visiting_dates_div">
        <form action="/" method="POST">
            <div class="input-container">
            <label>Dates</label>
                <input type="text" placeholder="Start date" onfocus="(this.type='date')" onblur="(this.type='text')" onkeydown="return false" id="start_date_input" onchange="onStartDateChanged()">
                <input type="text" placeholder="End date" onfocus="(this.type='date')" onblur="(this.type='text')" onkeydown="return false" id="end_date_input" onchange="onEndDateChanged()">
            </div>
        </form>
    </div>

    <div id="home_div">
        <form id="home_form" action="/" method="POST">
                <label for="home_autocomplete">Staying at?</label>
                <input type="text" id="home_autocomplete" style="width:300px">
                <button> Submit </button>
        </form>

        <div id="home_value_display" class="hidden">
            <span>
                Staying at <span id="home_name"> </span>
                <button type="submit" id="changeHomeButton" onclick="showHomeInput()">Change home</button>
            </span>
        </div>
    </div>

    <form id="home_time_form" action="/" method="POST">
        <label>Day start time:</label>
        <div id="leave_time_div">
            <input type="time" id="leave_time_input" style="width:100px" onchange="onLeaveTimeChanged()">
        </div>
        <label>Day end time:</label>
        <input type="time" id="return_time_input" style="width:100px" onchange="onReturnTimeChanged()">

    </form>

    <form id="destination_form" method="POST">
        <div>
        <label for="destination_autocomplete">Destination:</label>
        <input type="text" id="destination_autocomplete"  style="width:300px">
            for
        <input type="number" id="visit_hours" value=1 style="width:40px" min="0" step=.5>
            hour(s)
        <button type="submit"> Add destination </button>
        </div>
    </form>

    <div id="showScheduleDiv">
        <form action ="/results" method = "POST">
            <label id="avoidDrivingInput"><input type="checkbox" value="avoidDriving" name="drivingAllowance">Avoid Driving</label>
            <input type="submit" id="showSchedule" value = "Show your schedule">
        </form>
    </div>


    <div id="locations_block">
    <ol type="1" id="locations">
        {% for location_name,place_id,location  in locations %}
            {% if location.place_type != "home" %}
                <li class="location_block" id="{{loop.index0}}">
                    <div class="location">
                    <option class="locationName" id="{{place_id}}">{{location_name}}</option>
                    {% if location.visit_minutes != None %}
                        {% if location.visit_minutes > 60 %}
                            {{location.visit_minutes/60}} hrs
                        {% else %}
                            {{location.visit_minutes/60}} hr
                        {% endif %}
                    {% endif %}
                    </div>
                    <button>remove</button>
                </li>
            {% endif %}
        {% endfor %}
<!--                <li class="location_block">-->
<!--                    <div class="location">-->
<!--                    <option class="locationName">Quail Hill Community Center</option>-->
<!--                    2 hour-->
<!--                    </div>-->
<!--                    <button>remove</button>-->
<!--                </li>-->
<!--                <li class=""location_block"">-->
<!--                    <div class="location">-->
<!--                    <option class="locationName">LOCATION 2</option>-->
<!--                    2 hour-->
<!--                    </div>-->
<!--                    <button>remove</button>-->
<!--                </li>-->
    </ol>
        <button id="removeAllDestinationsButton" onclick="removeAllDestinations()">Remove all destinations</button>
    </div>
    <div id="map"></div>
    <script src="{{url_for('static', filename='main.js')}}"> defer></script>
</body>
</html>